<!-- Simple page to confirm the booking, displays data in table format -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WokShop - Booking Confirmation</title>
</head>
<body>
    <% include partials/navbar.ejs %>
    <div class="row">
        <div class="column"></div>
        <div class="column">
            <h1>Thanks for your booking!</h1>
            <table>
                <tr>
                    <td>Full Name:</td>
                    <td><%=dataSent.fullName%></td>
                </tr>
                <tr>
                    <td>Time Slot:</td>
                    <td><%=dataSent.workshopTimeSlot%></td>
                </tr>
                <tr>
                    <td>Workshop Date:</td>
                    <td><%=dataSent.workshopDate%></td>
                </tr>
                <tr>
                    <td>Workshop Level: </td>
                    <td><%=dataSent.workshopLevel%></td>
                </tr>
                <tr>
                    <td>Credit Card Number: </td>
                    <td><%=dataSent.creditCardNum%></td>
                </tr>
                <tr>
                    <td>Credit Card CVV: </td>
                    <td><%=dataSent.creditCardCVV%></td>
                </tr>
                <tr>
                    <td>Credit Card Expiry Months: </td>
                    <td><%=dataSent.creditCardMonth%></td>
                </tr>
                <tr>
                    <td>Credit Card Expiry Year: </td>
                    <td><%=dataSent.creditCardYear%></td>
                </tr>
            </table>
        </div>
        <div class="column"></div>
      </div>
</body>
</html>