<!-- Page to edit your booking. Includes functionality to update and delete -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WokShop - Edit</title>
</head>
<body>
    <% include partials/navbar.ejs %>
    <div class="row">
        <div class="column"></div>
        <div class="column">
            <h1>Edit your booking</h1>
            <form action="/update" method="post">
                <p><label>Full Name</label>
                    <input type="String"
                            name="fullName"
                            value="<%= data.booking.fullName %>">
                </p>
                <p><label>Workshop Time Slot</label>
                    <select id="form" form="createBookingForm" name="workshopTimeSlot">
                      <option value="<%= data.booking.workshopTimeSlot%>"selected><%= data.booking.workshopTimeSlot%></option>
                      <option value="10:00">10:00</option>
                      <option value="11:00">11:00</option>
                      <option value="12:00">12:00</option>
                      <option value="13:00">13:00</option>
                      <option value="14:00">14:00</option>
                      <option value="15:00">15:00</option>
                      <option value="16:00">16:00</option>
                    </select>
                  </p>
                  <p><label>Workshop Date</label>
                    <input type="date" 
                            name="workshopDate">    
                  </p>
                  <p><label>Workshop Level</label>
                    <select id="form" form="createBookingForm" name="workshopLevel">
                      <option value="<%= data.booking.workshopLevel%>"selected><%= data.booking.workshopLevel%></option>
                      <option value="Beginner">Beginner</option>
                      <option value="Intermediate">Intermediate</option>
                      <option value="Advanced">Advanced</option>
                      <option value="Chef">Chef</option>
                    </select></p>
                  <h2>Payment Details</h2>
                  <p><label>Credit Card Number</label>
                    <input type="String" 
                            name="creditCardNum" 
                            value="<%= data.booking.creditCardNum%>" 
                            maxlength="16">
                  </p>
                  <p><label>CVC</label>
                    <input type="String" 
                            name="creditCardCVV" 
                            value="<%= data.booking.creditCardCVV%>" 
                            maxlength="3">
                  </p>
                  <p><label>Month</label>
                    <input type="String" 
                            name="creditCardMonth" 
                            value="<%= data.booking.creditCardMonth%>"
                            maxlength="2">
                  </p>
                  <p><label>Year</label>
                    <input type="String" 
                            name="creditCardYear" 
                            value="<%= data.booking.creditCardYear%>"
                            maxlength="4"
                            min="2023">
                  </p>
                  <button type="submit" value="<%= data.booking.id%>" name="selectedIDUpdate">Update</button>
                  <!-- Will update document with fresh data -->
            </form><br>
        </div>
        <div class="column"></div>
      </div>
</body>
</html>