<!-- Home page, views all bookings with functionality -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WokShop</title>
  </head>
  <body>
    <% include partials/navbar.ejs %>
    <div class="row">
      <div class="columnCentreSide"></div>
      <div class="columnCentre">
        <h1>Current Bookings</h1>
        <table id="databaseDisplay">
          <tr>
              <th>Name</th>
              <th>Time</th>
              <th>Date</th>
              <th></th>
          </tr>
          <% data.forEach(function(book){ %>
          <form action="/edit" method="post">
          <tr id="data">
              <td hidden><%= book.id%></td>
              <td><%= book.fullName%></td>
              <td><%= book.workshopTimeSlot%></td>
              <td><%= book.workshopDate%></td>
              <td><button type="submit" name="selectedID" value="<%= book.id%>"> Edit </button></td>
          </tr></form>
          <% }) %>
          </table>
        <br><a href="/book"><button>Book</button></a>
        <!-- Goes to edit page -->
      </div>
      <div class="columnCentreSide"></div>
    </div>
  </body>
</html>
